.container,
.stream_container {
  margin-right: auto; 
  margin-left: auto;
  position: relative;
}

  .cover{
   height: 66vh;
  }

/* 0px - 768px */
@media (max-width: 499px) {

  .container {
    max-width: 400px;
  }

  #landing_header .label{
    display: inline-block;
  }

  #slogan_1{
    font-size: 2em;
  }

  #slogan_2{
    font-size: 1.5em;
  }

  #logo{
    font-size: 3.5em;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 10px;
  }

  #landing_buttons{
    display: none;
  }

  .wrapper.gray{
    padding: 50px 0;
  }

  #info_div i.icon{
    font-size: 5em;
    margin-bottom: 10px;
  }

  #info_div p{
    font-size: 1.6em;
  }



  #landing_wrapper p{
    font-size: 1.2em;
  }

  #wrapper_footer_top{  
    padding-top: 40px;
  }

  #footer_left{
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 0px;
  }

  #footer_left span{
    display: block;
    margin-left: 0px;
  }

  #footer_right{
    text-align: center;
    float: none;
    width: 100%;
  }

}


@media (min-width: 500px) and (max-width: 868px) {

  .container {
    max-width: 555px;
  }


  #slogan_1{
    font-size: 2em;
  }

    #slogan_2{
    font-size: 1.5em;
  }



 #logo{
    font-size: 3.5em;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 10px;
  }

}


@media (min-width: 869px) and (max-width: 1199px) {

  .container {
    max-width: 555px;
  }

  #slogan_1{
    font-size: 2.5em;
  }

    #slogan_2{
    font-size: 1.8em;
  }

   #list.filter_visible{
      width:833px;
     left:149px;
    }



   #landing_wrapper p{
    font-size: 1.1em;
  }

  .landing_header{
    font-size: 1.5em;
  }

}

@media (min-width: 1160px) and (max-width: 1489px) {
  .container {
    max-width: 1111px;
  }

   #list.filter_visible{
      width:833px;
            left:139px;

    }

  .stream_container{
      max-width:1190px;
  }


  #landing_wrapper p{
    font-size: 1.2em;
  }

  .landing_header{
    font-size: 2em;
  }

}

@media (min-width: 1490px) and (max-width: 1899px) {
	.container {
	  max-width: 1390px;
	}

   #list.filter_visible{
      width:1111px;
      left:139px;

    }

  .stream_container{
      max-width:1440px;
  }


}

@media (min-width: 1900px) and (max-width: 2200px) {
	.container {
	  max-width: 1669px;
	}

   #list.filter_visible{
      width:1390px;
      left:139px;

    }

  .stream_container{
    max-width:1669px;
  }


}

@media (min-width: 2201px) {
    .container {
      width:1948px;
    }

    #list.filter_visible{
      width:1669px;
      left:139px;
    }

    .stream_container{
      width:1948px;
    }




}
