html, body {
    height: 100%;
    font-family: 'proxima-nova';
}

body {
  	min-width: 320px;
  	background-color: rgba(0,0,0,0.03);
}

orange{
	color: @orange;
}


.ct{
	text-align: center;
}

.va{
 position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fh{
    height: 90vh;
 }

.am{
 	  	margin: 0 auto;
 	  	width:400px;
 }

.hiden,
.ui.hidden{
	display: none;
}

 .wrapper{ 
	position: relative;
}
 
.wrapper.pad{
	padding:60px 0;	
}



.fouc {
  opacity: 1;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
}

.wf-loading .fouc {
  opacity: 0;
  transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}