#landing_header{
  background-color: rgba(0,0,0,0.75);
  padding: 10px;
  text-align: right;

  .label{
  	display: none;
  }
}

#logo{
	font-size: 5.5em;
	font-family: 'funkydori';
	color: #FFF;
	margin-bottom: 100px;
	border-bottom: 7px rgba(255,255,255,0.7) solid;
	display: inline-block;
	padding-bottom: 80px;
}

#landing_buttons{
	marin-top: 55px;
	position: absolute;
	right: 50px;
	top:50px;
	z-index: 99999;
}

.wrapper.teal{
	background-color: @teal;
	padding: 80px 0 60px 0;
}

.wrapper.teal2{
	background-color: #8ab4b5;
}

#slogan_1{
	font-weight: 900;
	font-size: 4em;
	color: #FFF;
	font-family: 'myriad-pro';
	margin-bottom: 50px;
}

#slogan_2{
	font-weight: 100;
	font-size: 2.4em;
	color: #FFF;
	line-height: 1.5em;
	width: 70%;
	display: inline-block;
}


.wrapper.gray{
	padding: 200px 0;
}

#info_div{

	i.icon{
		opacity: 0.8;
		margin-bottom: 35px;
	}

	p{
		font-size: 2em;
		font-weight: 300;
	}
}